<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="serverId">OPSV01</entry>
	<entry key="serverGroupId">OPSV</entry>
	<entry key="serverKey">01</entry>
	<entry key="serverName">ONE-Platform-Service</entry>
	<entry key="monitoring.traffic.port">3333</entry>
	<entry key="monitoring.flash.policy.port">8843</entry>
</properties>
